@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100&display=swap');

body {
    font-family: "Lato", sans-serif;
}

.container-main {
    flex-direction: row-reverse;
}

.col-content {
    margin-left: 2rem;
}

.tsd-navigation.settings {
    display: none;
}

.tsd-navigation.primary {
    display: none;
}
